.linkVideo {
    display: flex !important;
    color: #000000 !important;
    text-decoration: none !important;
    outline: none !important;
}

.starter-template {
    padding: 1rem;
}

.menu ul li a:hover {
	color: #000000 !important;
	font-weight: bold;
}

.dropdown-menu {
	min-width: 12rem !important;
}

.navbar{
	background-color: #f2f2f2 !important;
}

.menu-topo{
	display: block;
	height:34px;
	background-color: #F76A0C;
}

.menu-meio{
	display: block;
	height:85px;
	text-align: center;
	background-color: #f9f9f9;
}

.menu-meio-img{
	margin-top: 20px;
}

.menu-ul {
	margin-left: 0px !important;
}

.menu-ul-li-a {				
	margin: 0px 50px 0px 50px !important;
}

.menu ul li a {
	font-weight: 600;
	font-style: normal;
	font-size: 18px;
}

.imgVideo {
    margin-left: 1rem !important;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 10px;
    /*margin-right: -10px;*/
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}